# LLM Logs
llm-server/hss_server/logs/

# PYC files
llm-server/hss_server/__pycache__
llm-server/hss_server/db/__pycache__
llm-server/hss_server/include/__pycache__
llm-server/hss_server/matcher/__pycache__

# PDFExtract intermediates
PDFExtract/build
PDFExtract/.gradle
PDFExtract/gradle-app.setting
PDFExtract/.gradletasknamecache
PDFExtract/.idea

# QueryProcessor binary
QueryProcessor/QueryProcessor

# Compiled documentation
*.pdf
*.backup
!llm-server/hss_server/docs/readme/README.pdf
!frontend/www/static/module_manual_IMACS.pdf
!PDFExtract/src/main/resources/org/hsm/hmi/module_manual_IMACS.pdf
